<% layout('layouts/boilerplate') %>
<h1>Edit Campground</h1>
<form action="/campgrounds/<%=groundDetails._id%>?_method=PUT" method="POST">
    <label for="title">Campground title</label>
    <input type="text" id="title" placeholder="Campground title" name="campground[title]"
        value="<%=groundDetails.title%>">
    <label for="location">Campground location</label>
    <input type="text" id="location" placeholder="Campground location" name="campground[location]"
        value="<%=groundDetails.location%>">
    <button type="submit">Submit</button>
</form>
<footer>
    <a href="/campgrounds/<%=groundDetails._id%>">Back To Campground</a>
</footer>